* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 24px auto;
  border: 1px solid black;

  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  background-color: bisque;
}
